torch>=2.1.0
transformers>=4.40.0
datasets>=2.19.0
pyarrow>=16.0.0
fsspec[http]>=2024.5.0
scikit-learn>=1.4.0
scipy>=1.11.0
sentencepiece>=0.2.0

unicodedata2>=15.1.0
regex>=2024.4.0

nlpaug>=1.1.11

pandas>=2.2.0
matplotlib>=3.8.0

onnx>=1.16.0
onnxruntime>=1.18.0
optimum>=1.19.0

jupyter>=1.0.0
pytest>=8.0.0
